@import 'jeet/index'

edit();

section
	center(1080px)

header
	padding: 0 1em
	height 100px
	> .logo
		col(1/4)
		height inherit
	> nav
		col(2/4, offset: 1/4)
		height inherit
		a
			span(1/5 2/4)
			height inherit
			&:hover
				background-color: #CCC

div.content
	span(5/5)
	> article
		col(2/6 2/4, cycle:3)
		height: 20em
		overflow hidden
		margin-top: 1em
		header h1
			text-align: center

footer
	min-height: 100px
	padding 1em

// Mobile
bp()

endbp()