@import 'jeet/index'

//Fuentes
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(/static/fonts/OpenSans.woff) format('woff');
}

//Constantes
special_font = 'Open Sans Condensed', sans-serif;

/*Theme*/
.ui-widget-header
	border none
	color #000
	background: #FFF !important

.ui-corner-all
	border-radius: 0

.ui-widget-content
	background #FFF

/*General*/
input[type=button],input[type=reset],input[type=submit]
	btn(green)
	font-family: special_font
	font-weight bold
input[type=search]
	width: 30em
	text-align: right
input[type=text],input[type=search],input[type=number],input[type=password], select
	margin-left 5px
	height 2.2em
	font-weight: bold
select[multiple=multiple]
	height 3.8em
h1,h4,h5,h6,label
	font-family: special_font;
label
	font-weight bold

/*Barra principal*/
body > header
	background: url(../img/menu-bg.png)
	position: absolute
	top 0
	left 0
	padding: 0 1em
	height 40px
	width 100%
	color #FFF
	> div
		height inherit
	> div.profile-nav
		col(1/4 1.5/2.5 7/8)
	> div.link-nav
		col(1/2 1.5/2.5 7/8, offset: 1/4)
		text-align: right


/*Areas Comunes*/
section
	width 100%
	height 100%
	padding-top: 40px
	overflow hidden
	min-height: 35em

.page-wrapper
	center(1080px)

ul.horizontal-menu
	list-style none
	li
		float left


/*Secciones de la pagina*/
.about-us
	background: #100604 url(../img/bg1.jpg) center center no-repeat
	color: #FFF
	font-size 14px
	img.logo
		margin-left: 30%;
		width 38%
	h6
		display: inline-block;
		font-size: 2em;
		color #FFF
	.content
		h1
			color #FFF
			font-weight: bold
		col(3/4, offset: 1/4)
		article.mision
			text-align: center
		article.view
			text-align: right
	.social
		col(4/8, offset: 4/8)
		text-align: right
		margin-top: 1em
	footer
		center(600px)
		text-align: center


.product-list
	background: url(../img/bg2.jpg)
	h1
		text-align center
	form
		text-align: right
		padding: 0.8em
	aside
		span(1/3)
		min-height: 314px
		background: url(../img/categories-bg.png) no-repeat
		h2
			text-decoration: underline
	.products
		span(2/3)
		article
			span(1/3 2/3)
			text-align: center
			header
				h1
					font-size: 18px
					margin 0
			col(1/3, cycle:3)
			background-color: #FFF
			min-height: 290px
			header h1
				text-align: center
			img
				min-width: 40%
				height: 210px
				max-width 218px
	.page-wrapper > footer
		col(4/8, offset: 4/8)
		min-height 72px
		font-family special_font
		font-weight bold
		text-align: right
		color #FFF
		ul
			list-style none
			li
				float left
				width 50%

.register-promoter
	background: url(../img/bg3.jpg)
	form
		input, select
			margin-right: 20px
		p
			margin-bottom 5px
	ul
		list-style none
		margin 0
		padding 0
		li
			float left
			margin 0
			padding 0
		li.lefty
			col(2/3)
		li.righty
			col(1/3)
			.photos
				border-color #ff9500
				margin-bottom 1em
				img 
					width 28%
			ul.form-error
				list-style disc
				li
					float none
					color #B10000
	.personal-info, .aditional-info, .photos
		background-color: #FFF
		margin-top: 1em
		padding 1em
		text-align: center
		border 3px solid #FFF
		-webkit-border-radius 10px
		-moz-border-radius 10px
		border-radius 10px
		ul.horizontal-menu li
			col(1/2)
			min-height: 100px
	.personal-info
		border-color #0589ce
	.aditional-info
		border-color #3efc39
		

.photo-gallery
	background: #EB936B url(../img/bg4.jpg) top center no-repeat
	h1
		text-align: center


footer
	text-align center

// Mobile
bp()

endbp()