<section class="product-list">
	<div class="page-wrapper">
	{% for product in products %}
		<article>
		    <header>
		        <h1>{{ product.name }}</h1>
		    </header>
		    <p>
		    	{% for img in product.productphoto_set.all %}
		    		{% if forloop.first %}
		    			<img src="{{ MEDIA_URL }}{{ img.photo }}" alt="{{ product.name }}"><br>
		    		{% endif %}
		    	{% endfor %}	                    	
		        {{ product.details }}
		    </p>
		    <footer>Categoria:{{ product.sub_categorie }}</footer>
		</article>
	{% empty %}
		<h1>No hay servicios disponibles actualmente</h1>
	{% endfor %}
		<div class="shopping-cart">
	        Productos en el carrito:<span>{{ num }}</span>
	    </div>
	</div>
</section>