<section class="about-us">
	<div class="page-wrapper">
		<div class="content">
			<article class="who-we-are">
				<h1>¿Quienes somos?</h1>
				La firma  ROSSANA MARKETING PROMOCIONES ha sido creada 
				fundamentalmente para asumir el desarrollo y ejecución de proyectos publicitarios, de 
				mercadeo e impulsaciones, en atención a los más exigentes criterios de calidad. Habida 
				cuenta de la altísima competencia que demandan tales objetivos, hemos conformado un 
				equipo de profesionales de sólida formación y variada experiencia, constituido, tanto a nivel 
				de representación y dirección como a nivel de asesoría y consulta. De esta manera, 
				ROSSANA MARKETING PROMOCIONES incorpora desarrollo fundamental al país, 
				garantizando en términos profesionales los más altos conceptos de suficiencia, 
				responsabilidad y cumplimiento. 
			</article>
			<article class="mision">
				<h1>Misión</h1>
				Prestar un servicio de primera calidad, innovando cada publicidad cumpliendo con las expectativas del cliente, ya que su lema es “La necesidad del cliente es nuestro interés, garantizando calidad y atención a los más exigentes criterios.
			</article>
			<article class="view">
				<h1>Visión</h1>
				Expandir su servicio a nivel nacional e internacional para ser una de las compañías, más solicitada y reconocidas de sólida formación y variada experiencia, tanto a nivel de representación y dirección como a nivel de asesoría y consulta.
			</article>
		</div>
		<nav class="social">
			Siguenos en: 
			<img src="facebook.png" alt="Siguenos en Facebook">
			<img src="twitter.png" alt="Siguenos en Twitter">
		</nav>
		<footer>
			Para mas información puedes comunicarte a los telefono: 0424-4456864 o al siguiente correo rossanamarketing@hotmail.com
		</footer>
	</div>
</section>