{% extends "index.html" %}

{% block content %}
<section class="profile">
	<div class="page-wrapper">
		<div id="tabs">
			<ul>
				<li><a href="#tab1">General</a></li>
				<li><a href="#tab2">Contraseña y seguridad</a></li>
				<li><a href="#tab3">Compras</a></li>
				<li><a href="#tab4">Sistema</a></li>
			</ul>
			<div id="tab1">
				<section class="profile">
					{% if user %}
					<h1>Datos personales:</h1>
					<h6>Estos datos serán usados unicamente para el contacto con usted así como también para la facturación de sus compras.</h6>
					<article>
						<form id="frmProfile" action="{% url 'person:save_profile' %}" method="POST">{% csrf_token %}
							{{ profileform.as_p }}
							<input type="submit" value="Guardar">
						</form>
					</article>
					{% endif %}
				</section>
			</div>
			<div id="tab2">
				<h1>Cambiar Contraseña:</h1>
				<form id="frmPassword" action="#">
					{{ passform.as_p }}
					<input type="submit" value="Cambiar">
				</form>
			</div>
			<div id="tab3">Compras</div>
			<div id="tab4">
				<a class="normal-button" href="{% url 'person:logout' %}">Cambiar de usuario</a>
				<a class="normal-button" href="">Suspender cuenta</a>
			</div>
		</div>
		<a class="normal-button" href="{% url 'home' %}">Volver al inicio</a>
	</div>
</section>
{% endblock content %}
{% block js %}
<script>
	$('#tabs').tabs();

	$('#frmProfile').submit(function(){
		var form = this;
		console.log('Me pulsaste')
		$.ajax({
			url: form.action,
			type: form.method,
			data: $(form).serialize(),
		}).done(function(data) {
			if (data.success == 1) {
				btns = [{
						text: "Aceptar",
						click: function() {
							$( this ).dialog( "close" );
							window.location = '{% url 'person:login' %}';
						}
					}];
			}else{
				btns = [{
						text: "Aceptar",
						click: function() {
							$( this ).dialog( "close" );
						}
					}];
			}
			showDialog(data.message, true, btns);
		}).fail(function() {
			btns = [{
						text: "Volver",
						click: function() {
							$( this ).dialog( "close" );
						}
					}];
			showDialog('Error desconocido', true, btns);
			console.log(data)
		});
		return false;
	});
</script>
{% endblock js %}