{% extends "index.html" %}

{% block content %}
<section class="profile">
	<div class="page-wrapper">
		<div id="tabs">
			<ul>
				<li><a href="#tab1">General</a></li>
				<li><a href="#tab2">Contraseña y seguridad</a></li>
				<li><a href="#tab3">Compras</a></li>
				<li><a href="#tab4">Sistema</a></li>
			</ul>
			<div id="tab1">
				<ul>
					<li class="lefty">
						<section class="profile-data">
							{% if user %}
							<h1>Datos personales:</h1>
							<h6>Estos datos serán usados unicamente para el contacto con usted así como también para la facturación de sus compras.</h6>
							<article>
								<form id="frmProfile" action="{% url 'person:save_profile' %}" method="POST">{% csrf_token %}
									<p>{{ profileform.dni.label_tag }}:{{ profileform.dni }}</p>
									<p>
										{{ profileform.first_name.label_tag }}:{{ profileform.first_name }}
										{{ profileform.last_name.label_tag }}:{{ profileform.last_name }}
									</p>
									<p>{{ profileform.email.label_tag }}:{{ profileform.email }}</p>
									<p>{{ profileform.phone.label_tag }}:{{ profileform.phone }}</p>
									<p>{{ profileform.adress.label_tag }}: <br>
									{{ profileform.adress }}</p>
									<input type="submit" value="Guardar">
								</form>
							</article>
							{% endif %}
						</section>
					</li>
					<li class="righty">
						{% for field in form %}
							{% if field.errors %}
								<h6 class="error-title">{{ field.label }}:</h6>
								<ul class="form-error">
								{% for error in field.errors %}
									<li>{{ error }}</li>	
								{% endfor %}
								</ul>
							{% endif %}
						{% endfor %}
					</li>
				</ul>
			</div>
			<div id="tab2">
				<section class="password">
					<h1>Cambiar Contraseña:</h1>
					<form id="frmPassword" action="#">
						{{ passform.as_p }}
						<input type="submit" value="Cambiar">
					</form>
				</section>
			</div>
			<div id="tab3">Compras</div>
			<div id="tab4">
				<a class="normal-button" href="{% url 'person:logout' %}">Cambiar de usuario</a>
				<a class="normal-button" href="">Suspender cuenta</a>
			</div>
		</div>
		<a class="normal-button" href="{% url 'home' %}">Volver al inicio</a>
	</div>
</section>
{% endblock content %}
{% block js %}
<script>
	$('#tabs').tabs();

	$('#frmProfile').submit(function(){
		var form = this;
		$.ajax({
			url: form.action,
			type: form.method,
			data: $(form).serialize(),
		}).done(function(data) {
			if (data.success == 1) {
				btns = [{
						text: "Aceptar",
						click: function() {
							$( this ).dialog( "close" );
							window.location = '{% url 'person:login' %}';
						}
					}];
			}else{
				btns = [{
						text: "Aceptar",
						click: function() {
							$( this ).dialog( "close" );
						}
					}];
			}
			showDialog('No se a podido actualizar tus datos', true, btns);
		}).fail(function() {
			showDialog('Error desconocido', true);
		});
		return false;
	});
</script>
{% endblock js %}