{% load staticfiles %}
<div class="page-wrapper">
	<h1>Casting Online</h1>
	<form action="{% url 'person:prom' %}" method="POST" id="frmPromoter" enctype="multipart/form-data">{% csrf_token %}
		<ul>
			<li class="lefty">
				<div class="personal-info">
					<p>
						{{ form.ci.label_tag }}:{{ form.ci }}
				
						{{ form.age.label_tag }}:{{ form.age }}
					</p>
					<p>
						{{ form.first_name.label_tag }}:{{ form.first_name }}
				
						{{ form.last_name.label_tag }}:{{ form.last_name }}
					</p>
					<p>
						{{ form.mobile_phone.label_tag }}:{{ form.mobile_phone }}
				
						{{ form.phone.label_tag }}:{{ form.phone }}
					</p>
					<p>
						{{ form.address.label_tag }}:<br>{{ form.address }}
					</p>
				</div>
				<div class="aditional-info">
					<p>
						{{ form.num_children }}
				
						{{ form.marital_status }}
					</p>
					<p>
						{{ form.height.label_tag }}:{{ form.height }}
				
						{{ form.weight.label_tag }}:{{ form.weight }}
					</p>
					<p>
						Medidas:
						{{ form.measure1.label_tag }}:{{ form.measure1 }}
						{{ form.measure2.label_tag }}:{{ form.measure2 }}
						{{ form.measure3.label_tag }}:{{ form.measure3 }}
					</p>
					<p>
						<ul class="horizontal-menu">
							<li>
								{{ form.rol.label_tag }}:<br>{{ form.rol }}
							</li>
							<li>
								{{ form.studying.label_tag }}:{{ form.studying }}
								<br>
								{{ form.study_schedule.label_tag }}:<br>{{ form.study_schedule }}
							</li>
						</ul>
					</p>
					<p>
						{{ form.pin.label_tag }}:{{ form.pin }}
						{{ form.status }}
					</p>
					<div class="photo-model"></div>
				</div>
			</li>
			<li class="righty">
				<div class="photos">
					<a href="#" title="photo1">
						<img src="{% static "img/camera.png" %}" alt="Foto 1">
					 	{{ form.photo1.label }}
					</a>|
					<a href="#" title="photo2">
						{{ form.photo2.label }}
						<img src="{% static "img/camera.png" %}" alt="Foto 2">
					</a>
					{{ form.photo1 }}
					{{ form.photo2 }}
				</div>
				<input type="reset">
				<input type="submit" value="Registrar">
				{% for field in form %}
					{% if field.errors %}
						<h6 class="error-title">{{ field.label }}:</h6>
						<ul class="form-error">
						{% for error in field.errors %}
							<li>{{ error }}</li>	
						{% endfor %}
						</ul>
					{% endif %}
				{% endfor %}
			</li>
		</ul>
	</form>
</div>
<script>
	$('#id_age').datepicker();
	$('li.righty div.photos a').click(function(e) {
		$('#id_'+this.title).click();
		return false;
	});

	// $('#frmPromoter').submit(function(){
	// 	var that = this;
	// 	var option = {
	// 		url: that.action,
	// 		success: function(data){
	// 			$( ".content section.register-promoter" ).html(data);
	// 		} 
	// 	}
	// 	$(this).ajaxForm(option);
	// 	return false;
	// }); 

	// $('#frmPromoter').submit(function(){
	// 	var form = this;
	// 	$.ajax({
	// 		url: form.action,
	// 		type: form.method,
	// 		data: $(form).serialize(),
	// 	}).done(function(data) {
	// 		$( ".content section.register-promoter" ).html(data);
	// 	}).fail(function(){
	// 		showDialog('Error al intentar registrar el Promotor', true);
	// 	});
	// 	return false;
	// });
</script>