<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}
        	Rossana Marketing
        {% endblock title %}</title>
        <meta name="viewport" content="width=device-width">
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static "css/onepage-scroll.css" %}">
        <link rel="stylesheet" href="{% static "css/jqueryui/main.css" %}">
        <link rel="stylesheet" href="{% static "css/main.css" %}">
        <!--[if lt IE 9]><script src="{% static "js/vendor/selectivizr-1.0.2.min.js" %}"></script><![endif]-->
        <script src="{% static "js/vendor/selectivizr-1.0.2.min.js" %}"></script>
    </head>
    <body>
        <!--[if lt IE 9]>
            <div class="browsehappy"><p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true" target="_blank">activate Google Chrome Frame</a> to improve your experience.</p></div>
        <![endif]-->
        {% block dialog %}<div id="dialog" title="Info"></div>{% endblock dialog %}
		<div class="content">
		{% block content %}
			{% include "partial/about.html" %}
			{% include "store/index.html" %}
            <section class="register-promoter"></section>
            <section class="photo-gallery"></section>
		{% endblock content %}
		</div>
        <header>
            <div class="profile-nav">
                Bienvendio:
                {% if user.is_authenticated %}
                    {% if user.first_name and user.last_name %}
                        <a href="#">{{ user.last_name }}. {{ user.first_name }}. </a>
                    {% else %}
                        <a href="#">{{ user.username }}</a>
                    {% endif %}
                {% else %}
                    Anonimo
                {% endif %}
            </div>
            <div class="link-nav">
                {% if user.is_authenticated %}
                    <a href="{% url 'person:logout' %}">Salir</a>
                {% else %}
                    <a href="{% url 'person:login' %}" id="login">Login</a>
                    <a href="{% url 'person:register' %}">¡Registrate!</a>
                {% endif %}
            </div>
        </header>
        <footer>
        {% block footer %}
        	Copyrigth&copy; Rossana Marketing C.A. 2013-2014
        	{% if user.is_staff %}
        		<a href="admin/" target="_blank">Administrar</a>
        	{% endif %}
        {% endblock footer %}
        </footer>
        <!--[if lt IE 9]>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="{% static "js/vendor/jquery-1.10.2.min.js" %}"><\/script>')</script>
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="{% static "js/vendor/jquery-2.0.3.min.js" %}"><\/script>')</script>
        <!--<![endif]-->
        <script src="{% static "js/vendor/jquery-ui.min.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>
        {% block js %}
        <script src="{% static "js/vendor/jquery.onepage-scroll.min.js" %}"></script>
        <script>
            $(function() {
                //Cara de secciones dinamicas
                $( ".content section.register-promoter" ).load('{% url 'person:promoter' %}');

                $( ".content section.photo-gallery" ).load('{% url 'gallery:home' %}', function(){
                    $(".content").onepage_scroll({
                        sectionContainer: "section",
                        updateURL: true
                    });
                });


            });
        </script>
        {% endblock js %}       
    </body>
</html>
